*.map
*.lss
*.sym
*.bak
.codelite
.clang
compile_commands.json
*.a
*.so
obj/
# Ignore hidden files/dirs except .github and .gitignore
.*
!.github/
!.gitignore
version.*
build*/
libmodbus/
cmake-build*/
